<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">GameCollection</span>
        <input
            class="search-input"
            name="search"
            ngModel
            placeholder="Search 500,000+ games"
        />
        <button class="search-button">Search</button>
    </form>
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>    
</div>
