.mb-0 {
  padding: 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.form-group {
  padding: 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}